# eclipse conf file
.settings
.classpath
.project
.manager
.scala_dependencies
.cache

# idea
.idea
*.iml

# building
target
build
null
tmp*
temp*
dist
test-output
build.log

#OSX junk
*.DS_Store

#lyx junk
*.lyx~

#latex junk
*.aux
*.log
*.out
*.toc
*.blg
*.bbl
*.bcf
*.bst
*.dvi
#*.pdf
*.fdb_latexmk
*.fls
*.nav
*.synctex.gz

#emacs junk
*.el
*.snm
_region_.tex

#UNIX junk:
~
